i.icon,
i.icons {
  font-size: 1em !important;
}

.mobile-dropdown {
  .menu {
    width: min(95vw, 400px);
    right: unset !important;
    white-space: normal !important;
    background-color: red;
    .item .text {
      font-size: 1.2rem;
    }
  }
  .item:hover {
    color: #430d0d !important;
  }
  .item {
    .text {
      max-width: 95vw;
      display: inline-block;
      white-space: break-spaces;
    }
  }
}
