i.icon,
i.icons {
  font-size: 1em !important;
}
.ui.menu .dropdown.item .menu {
  right: unset !important;
  .item:hover {
    color: #430d0d !important;
  }
}

.menu {
  max-width: 95vw;
  .item {
    .text {
      max-width: 95vw;
      display: inline-block;
      padding-right: 3rem;
    }
  }
}
